* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  gap: 20%;
  align-items: center;
}
header .image {
  height: 100%;
}
header img {
  position: relative;
  height: 50px;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header ul {
  display: flex;
  width: 300px;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  gap: 60px;
}

header ul li {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  gap: 5px;
}

header .navigation a {
  text-decoration: none;
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
}

header .navigation {
  width: 100%;
}

header .navigation i {
  font-size: 11px;
  height: 11px;
}

.home-section {
  background: rgb(247, 148, 7);
  background: linear-gradient(
    90deg,
    rgba(247, 148, 7, 1) 0%,
    rgba(255, 103, 2, 1) 46%
  );
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.home-section .hero {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-section .hero div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home-section .hero-left {
  font-family: "Poppins", sans-serif;
  padding-left: 100px;
}

.home-section .hero-left button {
  width: 120px;
  height: 40px;
  background-color: #111;
  color: white;
  font-size: 16px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
}

.home-section .hero-left button {
  font-weight: thin;
}

.home-section .hero-left .hero-text {
  padding-top: 25px;
  width: 300px;
  font-size: 14px;
  line-height: 18px;
}

.home-section .hero-left h1 {
  line-height: 33px;
  font-weight: 600;
}

.home-section .hero .hero-right img {
  width: 70%;
  min-width: 250px;
  position: relative;
  top: 45%;
}

footer {
  min-height: 300px;
  background: #111;
  display: flex;
  padding-left: 80px;
  flex-wrap: wrap;
  gap: 5%;
}

footer div {
  width: 200px;
  overflow: hidden;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .foot-top {
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

footer .foot-content {
  height: 140px;
  display: flex;
}

footer .left-footer {
      width: 250px;
}
footer .left-footer img {
  height: 60px;
}

footer .left-footer p {
  width: 90%;
  font-size: 18px;
  color: #fffffff0;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: bold;
}
footer .midle-left-footer {
    width: 150px;
}

footer .midle-right-footer {
    width: 250px;
}
footer .foot-top p {
  width: 90%;
  font-size: 18px;
  color: #fffffff0;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  font-weight: bold;
}

footer ul li {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    list-style: none;
    width: 100%;
    overflow: visible;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li i {
    height: 14px;
    font-size: 14px;
    position: relative;
    top: -3px;
}



.home-section .hero-left h1 {
    line-height: 33px;
}
/*contact section*/
.content{
    margin-top: 150px;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
}
.contact-section{
    background: rgb(247, 148, 7);
    background: linear-gradient(90deg, rgba(247, 148, 7, 1) 0%, rgba(255, 103, 2, 1) 46%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.contact-section .formulaire div {
    border-bottom: white 2px solid;
    height: 30px;
    width: 90%;

}
.contact-section .formulaire div * {
    display: inline;
}

.contact-section form {
    margin-top: 20px;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 300px;
}
.formulaire textarea,
.formulaire label,
.formulaire input{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color:#111;
}

.formulaire input{
    position:relative;
    top:-28px;
    margin-bottom: 50px;
    background-color: transparent;
    border:none;
    width: 250px;
    height: 30px;
    color: white;
    padding: 0 28px;
    padding-left: 90px;
    outline: none; 
    font-size: 16px;
}

 .form-message {
    flex-grow: 1;
}
.formulaire textarea{
    border:none;   
    height: 130px;  
    width: 100%;       
    padding-top: 10px;                            
    background-color: transparent;
    outline: none; 
    color:white;
    display: block;
    
}
.custom-icon{
    color: rgb(255, 255, 255); 
}

.container{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}
.content h1{
    line-height: 30px;
}
.contact-section button{
    width: 120px;
    height: 40px;
    background-color:transparent;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 100px;
    text-align: left;
}

.contact-section button i {
    font-size: 18px;
}


.menu {
    display: flex;
    background-color: #F9AF46
}


.menu .list ul {
    list-style-type: none;

}

.menu .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9AF46;
    height: 100vh;
    width:50%;

}


.menu .icons-home .icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F9AF46;
    height: 55vh;
    width:100vh;
    margin-left: 20px;

}


.menu .icons-home .icon ul li {
    list-style-type: none;
    margin: 10px 0;
    
}


.menu .icons-home  .at-symbol .at{
    list-style-type: none;
     
    

}
.menu .icons-home  .at-symbol {
   
   margin-left: 20px;
   background-color: #F9AF46;
   height: 42vh;
  display: flex;
  align-items: flex-end;
   
}
.menu .list ul li{font-family: "Poppins", sans-serif;
font-size: 18px;}

/*work section */
.works-section {
    background: #F9AF46;
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    
  }
.titre{
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
    position:relative;
    top:40px;
    font-size: 25px;
    line-height: 50px;
}
.titre h5{
    color:white;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}

.w-left{
  background: #d6c7c7;
  margin-top: 80px;
  width: 50%;
}
.work-grid{
  display: flex;
  width:100%;
  height:100%;
  background: red;
}
.con {
  background: transparent;
  display: flex;
  width: 80%;
  height: calc(100% - 140px);
  display: flex;
  margin-top: 60px;
  margin-left: 100px;
  justify-content: center
}

.con-left, .con-right {
  width: 50%; 
}

.con-left img, .con-right img {
  width: 100%;
  height: auto; 
  border-radius: 8px; 
}

.top-1{
  width:100%;

}
.content1{
  height:100%;
}
.content1 img{
  size: 30px;
}
.box{
  position: relative; 
  border: none; 
  border-radius: 8px; 
  width: 100%;
  height: 200px; 
  text-align: center; 
  overflow: hidden;
}

.img-box img{
  width: 100%;
  height: 200px;
}

.more-button{
  position: absolute; 
  bottom: 15px; 
  right: 10px;
  border: 1px solid transparent; }

.more-button button{
  background: transparent; 
  border: 2px solid white; 
  color:white;
  border-radius: 20px; 
  padding: 10px 20px; 
  cursor: pointer;
  margin-left: 450px;
  margin-top:200px;
  margin: 0;
  width: 100px;
  transition: background-color 0.3s;
}

.more-button button:hover{
  background-color: rgba(255, 255, 255, 0.2); 
}
